<header class="h-20 shadow-sm bg-accent">
  <nav
    class="container flex items-center justify-between h-full py-3 mx-auto center"
  >
    <a
      [routerLink]="[path.Home]"
      class="text-2xl font-bold no-underline cursor-pointer"
    >
      <span class="text-danger-400">Angular</span>
      FPE
    </a>

    <div class="flex items-center">
      <app-theme-panel class="mr-6"></app-theme-panel>
      <button class="btn btn-danger" (click)="onClickLogout()">Sign out</button>
    </div>
  </nav>
</header>
